<div class="miami-page">
	<div class="jumbotron center">
	<h2>The fastest way to find local music shows</h2>

		<p>
		<br/>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	
</div>
	<div class="row">

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="soundcloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="souncloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="https://s3.amazonaws.com/miamiartist/sunghost-300x300.png">
	      <div class="caption">
	        <h2 style="text-align:center;">Sunghosts</h2>
	       	<h4 style="text-align:center;">Sunnyside Uppercut</h4>
	        
	        <div class="soundcloud-player">

	        </div>

	        <div class="info-for-show">
	        	<p><dl class="dl-horizontal">
					  <dt>Venue:</dt>
					  <dd>Shots Miami</dd>
					  <dt>Time:</dt>
					  <dd>10:00pm</dd>
					  <dt>Price:</dt>
					  <dd>Free</dd>
			        </dl>
	        	</p>
	        </div>
	        <p style="text-align:center;"><a href="#" class="btn btn-primary btn-lg btn-block" role="button">Find Tickets</a> </p>
	      </div>
	    </div>
	  </div>

	</div>
</div>